<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0 rounded shadow">
          <div class="card-body">
            <h4 class="float-left">Edit Student</h4>
            <router-link :to="{ name: 'student.index' }" class="btn btn-md btn-success float-right">Back to List</router-link>
            <br>
            <hr/>
            <form @submit.prevent="update">
              <div class="form-group">
                  <label for="name" class="font-weight-bold">Student Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="student.name"
                    placeholder="Student Name"/>
                  <!-- validation -->
                  <div class="mt-2 alert alert-danger" v-if="validation.title">
                    {{ validation.title[0] }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="age" class="font-weight-bold">Student Age:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="student.age"
                    placeholder="Student Age"/>
                  <!-- validation -->
                  <div class="mt-2 alert alert-danger" v-if="validation.title">
                    {{ validation.title[0] }}
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="mobile_no" class="font-weight-bold">Student Mobile Number:</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="student.mobile_no"
                    placeholder="Student Mobile Number"/>
                  <!-- validation -->
                  <div class="mt-2 alert alert-danger" v-if="validation.mobile_no">
                    {{ validation.mobile_no[0] }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="department" class="font-weight-bold">Student Department Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="student.department"
                    placeholder="Student Department Name"/>
                  <!-- validation -->
                  <div class="mt-2 alert alert-danger" v-if="validation.department">
                    {{ validation.department[0] }}
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="cgpa" class="font-weight-bold">Student CGPA:</label>
                  <input
                    type="text"
                    class="form-control"
                    v-model="student.cgpa"
                    placeholder="Student CGPA"/>
                  <!-- validation -->
                  <div class="mt-2 alert alert-danger" v-if="validation.cgpa">
                    {{ validation.cgpa[0] }}
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import axios from "axios";

export default {
  setup() {
    // state students
    const student = reactive({
      name: "",
      age: "",
      mobile_no: "",
      department: "",
      cgpa: "",
    });

    // state validation
    const validation = ref([]);

    // vue router
    const router = useRouter();

    // route
    const route = useRoute();

    // mounted
    onMounted(() => {
      // get API from laravel backend
      axios
        .get(`http://localhost:8000/api/student/${route.params.id}`)
        .then((response) => {
          // assign state student with response data
          student.name = response.data.data.name;
          student.age = response.data.data.age;
          student.mobile_no = response.data.data.mobile_no;
          student.department = response.data.data.department;
          student.cgpa = response.data.data.cgpa;
        })
        .catch((e) => {
          console.log(e.response.data);
        });
    });

    // method update
    function update() {
      let name = student.name;
      let age = student.age;
      let mobile_no = student.mobile_no;
      let department = student.department;
      let cgpa = student.cgpa;

      axios
        .put(`http://localhost:8000/api/student/${route.params.id}`, {
          name: name,
          age: age,
          mobile_no: mobile_no,
          department: department,
          cgpa: cgpa,
        })
        .then(() => {
          // redirect to student index
          router.push({
            name: "student.index",
          });
        })
        .catch((e) => {
          // assign state validation with error
          validation.value = e.response.data;
        });
    }

    return {
      student,
      validation,
      router,
      update,
    };
  },
};
</script>

<style>
body {
  background: lightgray;
}
</style>
