<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0 rounded shadow">
          <div class="card-body">
            <h4 class="float-left">Students Information</h4>
            <router-link :to="{ name: 'student.create' }" class="btn btn-md btn-success float-right">Add Student</router-link>
            <br>
            <hr />
            <table class="table table-striped table-bordered mt-4">
              <thead class="thead-dark">
                <tr>
                  <th width="5%" class="text-center" scope="col">Id</th>
                  <th width="20%" class="text-center" scope="col">Name</th>
                  <th width="15%" class="text-center" scope="col">Age</th>
                  <th width="15%" class="text-center" scope="col">Mobile No</th>
                  <th width="20%" class="text-center" scope="col">Department Name</th>
                  <th width="10%" class="text-center" scope="col">CGPA</th>
                  <th width="15%" class="text-center" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(student, index) in students" :key="index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.mobile_no }}</td>
                  <td>{{ student.department }}</td>
                  <td>{{ student.cgpa }}</td>
                  <td class="text-center">
                    <router-link
                      class="btn btn-sm btn-primary mr-1"
                      :to="{ name: 'student.edit', params: { id: student.id } }"
                      >Edit
                    </router-link>
                    <button
                      @click.prevent="studentDelete(student.id)"
                      class="btn btn-sm btn-danger ml-1"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";

export default {
  setup() {
    // reactive state
    let students = ref([]);

    // mounted
    onMounted(() => {
      // get API from laravel back end
      axios
        .get("http://localhost:8000/api/student")

        .then((response) => {
          // asign state students with response data
          students.value = response.data.data;
        })
        .catch((e) => {
          console.log(e.response.data);
        });
    });

    // delete function
    function studentDelete(id) {
      axios
        .delete(`http://localhost:8000/api/student/${id}`)
        .then(() => {
          // splice student
          students.value.splice(students.value.indexOf(id), 1);
        })
        .catch((e) => {
          console.log(e.response.data);
        });
    }

    // return
    return {
      students,
      studentDelete,
    };
  },
};
</script>

<style>
body {
  background: lightgray;
}
</style>
